torch==2.1.2
transformers==4.37.2
datasets==4.6.1
Pillow==10.4.0
pandas==2.3.1
pyarrow==23.0.1
peft==0.4.0
tqdm==4.67.3
accelerate==0.21.0
safetensors==0.7.0
scipy==1.15.3
scikit-learn==1.2.2
bitsandbytes==0.45.5
flash_attn==1.0.9
deepspeed==0.9.5
fairscale==0.4.0
llava==1.2.2.post1
sentencepiece==0.1.99
tokenizers==0.15.2
timm==0.6.13
torchscale==0.2.0